<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/taiguo3542?hideAppHeader=1</string>
		<key>id</key>
		<integer>3542</integer>
		<key>name</key>
		<string>泰国</string>
		<key>pinyin</key>
		<string>taiguo</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/riben3543?hideAppHeader=1</string>
		<key>id</key>
		<integer>3543</integer>
		<key>name</key>
		<string>日本</string>
		<key>pinyin</key>
		<string>riben</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/hanguo3544?hideAppHeader=1</string>
		<key>id</key>
		<integer>3544</integer>
		<key>name</key>
		<string>韩国</string>
		<key>pinyin</key>
		<string>hanguo</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/maerdaifu3546?hideAppHeader=1</string>
		<key>id</key>
		<integer>3546</integer>
		<key>name</key>
		<string>马尔代夫</string>
		<key>pinyin</key>
		<string>maerdaifu</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/yingguo3558?hideAppHeader=1</string>
		<key>id</key>
		<integer>3558</integer>
		<key>name</key>
		<string>英国</string>
		<key>pinyin</key>
		<string>yingguo</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/faguo3559?hideAppHeader=1</string>
		<key>id</key>
		<integer>3559</integer>
		<key>name</key>
		<string>法国</string>
		<key>pinyin</key>
		<string>faguo</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/ruishi3560?hideAppHeader=1</string>
		<key>id</key>
		<integer>3560</integer>
		<key>name</key>
		<string>瑞士</string>
		<key>pinyin</key>
		<string>ruishi</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/deguo3561?hideAppHeader=1</string>
		<key>id</key>
		<integer>3561</integer>
		<key>name</key>
		<string>德国</string>
		<key>pinyin</key>
		<string>deguo</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/yidali3562?hideAppHeader=1</string>
		<key>id</key>
		<integer>3562</integer>
		<key>name</key>
		<string>意大利</string>
		<key>pinyin</key>
		<string>yidali</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/xinjiapo3569?hideAppHeader=1</string>
		<key>id</key>
		<integer>3569</integer>
		<key>name</key>
		<string>新加坡</string>
		<key>pinyin</key>
		<string>xinjiapo</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/malaixiya3570?hideAppHeader=1</string>
		<key>id</key>
		<integer>3570</integer>
		<key>name</key>
		<string>马来西亚</string>
		<key>pinyin</key>
		<string>malaixiya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/meiguo3571?hideAppHeader=1</string>
		<key>id</key>
		<integer>3571</integer>
		<key>name</key>
		<string>美国</string>
		<key>pinyin</key>
		<string>meiguo</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/aiji3572?hideAppHeader=1</string>
		<key>id</key>
		<integer>3572</integer>
		<key>name</key>
		<string>埃及</string>
		<key>pinyin</key>
		<string>aiji</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/nanfei3573?hideAppHeader=1</string>
		<key>id</key>
		<integer>3573</integer>
		<key>name</key>
		<string>南非</string>
		<key>pinyin</key>
		<string>nanfei</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/tuerqi3574?hideAppHeader=1</string>
		<key>id</key>
		<integer>3574</integer>
		<key>name</key>
		<string>土耳其</string>
		<key>pinyin</key>
		<string>tuerqi</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/alianqiu3575?hideAppHeader=1</string>
		<key>id</key>
		<integer>3575</integer>
		<key>name</key>
		<string>阿联酋</string>
		<key>pinyin</key>
		<string>alianqiu</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/feilvbin3576?hideAppHeader=1</string>
		<key>id</key>
		<integer>3576</integer>
		<key>name</key>
		<string>菲律宾</string>
		<key>pinyin</key>
		<string>feilvbin</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/aodaliya3596?hideAppHeader=1</string>
		<key>id</key>
		<integer>3596</integer>
		<key>name</key>
		<string>澳大利亚</string>
		<key>pinyin</key>
		<string>aodaliya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/xinxilan3597?hideAppHeader=1</string>
		<key>id</key>
		<integer>3597</integer>
		<key>name</key>
		<string>新西兰</string>
		<key>pinyin</key>
		<string>xinxilan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/bingdao3614?hideAppHeader=1</string>
		<key>id</key>
		<integer>3614</integer>
		<key>name</key>
		<string>冰岛</string>
		<key>pinyin</key>
		<string>bingdao</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/fenlan3615?hideAppHeader=1</string>
		<key>id</key>
		<integer>3615</integer>
		<key>name</key>
		<string>芬兰</string>
		<key>pinyin</key>
		<string>fenlan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/wenlai3616?hideAppHeader=1</string>
		<key>id</key>
		<integer>3616</integer>
		<key>name</key>
		<string>文莱</string>
		<key>pinyin</key>
		<string>wenlai</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/ruidian3617?hideAppHeader=1</string>
		<key>id</key>
		<integer>3617</integer>
		<key>name</key>
		<string>瑞典</string>
		<key>pinyin</key>
		<string>ruidian</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/nuowei3618?hideAppHeader=1</string>
		<key>id</key>
		<integer>3618</integer>
		<key>name</key>
		<string>挪威</string>
		<key>pinyin</key>
		<string>nuowei</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/yindunixiya3619?hideAppHeader=1</string>
		<key>id</key>
		<integer>3619</integer>
		<key>name</key>
		<string>印度尼西亚</string>
		<key>pinyin</key>
		<string>yindunixiya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/jianpuzhai3623?hideAppHeader=1</string>
		<key>id</key>
		<integer>3623</integer>
		<key>name</key>
		<string>柬埔寨</string>
		<key>pinyin</key>
		<string>jianpuzhai</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/yuenan3624?hideAppHeader=1</string>
		<key>id</key>
		<integer>3624</integer>
		<key>name</key>
		<string>越南</string>
		<key>pinyin</key>
		<string>yuenan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/niboer3626?hideAppHeader=1</string>
		<key>id</key>
		<integer>3626</integer>
		<key>name</key>
		<string>尼泊尔</string>
		<key>pinyin</key>
		<string>niboer</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/yindu3627?hideAppHeader=1</string>
		<key>id</key>
		<integer>3627</integer>
		<key>name</key>
		<string>印度</string>
		<key>pinyin</key>
		<string>yindu</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/feiji3628?hideAppHeader=1</string>
		<key>id</key>
		<integer>3628</integer>
		<key>name</key>
		<string>斐济</string>
		<key>pinyin</key>
		<string>feiji</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/maoliqiusi3629?hideAppHeader=1</string>
		<key>id</key>
		<integer>3629</integer>
		<key>name</key>
		<string>毛里求斯</string>
		<key>pinyin</key>
		<string>maoliqiusi</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/kenniya3630?hideAppHeader=1</string>
		<key>id</key>
		<integer>3630</integer>
		<key>name</key>
		<string>肯尼亚</string>
		<key>pinyin</key>
		<string>kenniya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/yiselie3631?hideAppHeader=1</string>
		<key>id</key>
		<integer>3631</integer>
		<key>name</key>
		<string>以色列</string>
		<key>pinyin</key>
		<string>yiselie</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/xila3634?hideAppHeader=1</string>
		<key>id</key>
		<integer>3634</integer>
		<key>name</key>
		<string>希腊</string>
		<key>pinyin</key>
		<string>xila</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/helan3635?hideAppHeader=1</string>
		<key>id</key>
		<integer>3635</integer>
		<key>name</key>
		<string>荷兰</string>
		<key>pinyin</key>
		<string>helan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/xibanya3636?hideAppHeader=1</string>
		<key>id</key>
		<integer>3636</integer>
		<key>name</key>
		<string>西班牙</string>
		<key>pinyin</key>
		<string>xibanya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/aodili3637?hideAppHeader=1</string>
		<key>id</key>
		<integer>3637</integer>
		<key>name</key>
		<string>奥地利</string>
		<key>pinyin</key>
		<string>aodili</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/eluosi3638?hideAppHeader=1</string>
		<key>id</key>
		<integer>3638</integer>
		<key>name</key>
		<string>俄罗斯</string>
		<key>pinyin</key>
		<string>eluosi</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/chaoxian3640?hideAppHeader=1</string>
		<key>id</key>
		<integer>3640</integer>
		<key>name</key>
		<string>朝鲜</string>
		<key>pinyin</key>
		<string>chaoxian</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/moluoge3650?hideAppHeader=1</string>
		<key>id</key>
		<integer>3650</integer>
		<key>name</key>
		<string>摩洛哥</string>
		<key>pinyin</key>
		<string>moluoge</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/jianada3651?hideAppHeader=1</string>
		<key>id</key>
		<integer>3651</integer>
		<key>name</key>
		<string>加拿大</string>
		<key>pinyin</key>
		<string>jianada</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/sililanka3656?hideAppHeader=1</string>
		<key>id</key>
		<integer>3656</integer>
		<key>name</key>
		<string>斯里兰卡</string>
		<key>pinyin</key>
		<string>sililanka</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/laowo3670?hideAppHeader=1</string>
		<key>id</key>
		<integer>3670</integer>
		<key>name</key>
		<string>老挝</string>
		<key>pinyin</key>
		<string>laowo</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/bilu3700?hideAppHeader=1</string>
		<key>id</key>
		<integer>3700</integer>
		<key>name</key>
		<string>秘鲁</string>
		<key>pinyin</key>
		<string>bilu</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/moxige3701?hideAppHeader=1</string>
		<key>id</key>
		<integer>3701</integer>
		<key>name</key>
		<string>墨西哥</string>
		<key>pinyin</key>
		<string>moxige</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/guba3702?hideAppHeader=1</string>
		<key>id</key>
		<integer>3702</integer>
		<key>name</key>
		<string>古巴</string>
		<key>pinyin</key>
		<string>guba</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/baxi3703?hideAppHeader=1</string>
		<key>id</key>
		<integer>3703</integer>
		<key>name</key>
		<string>巴西</string>
		<key>pinyin</key>
		<string>baxi</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/agenting3704?hideAppHeader=1</string>
		<key>id</key>
		<integer>3704</integer>
		<key>name</key>
		<string>阿根廷</string>
		<key>pinyin</key>
		<string>agenting</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/zhili3705?hideAppHeader=1</string>
		<key>id</key>
		<integer>3705</integer>
		<key>name</key>
		<string>智利</string>
		<key>pinyin</key>
		<string>zhili</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/saisheer3707?hideAppHeader=1</string>
		<key>id</key>
		<integer>3707</integer>
		<key>name</key>
		<string>塞舌尔</string>
		<key>pinyin</key>
		<string>saisheer</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/madajiasijia3741?hideAppHeader=1</string>
		<key>id</key>
		<integer>3741</integer>
		<key>name</key>
		<string>马达加斯加</string>
		<key>pinyin</key>
		<string>madajiasijia</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/aishaniya3750?hideAppHeader=1</string>
		<key>id</key>
		<integer>3750</integer>
		<key>name</key>
		<string>爱沙尼亚</string>
		<key>pinyin</key>
		<string>aishaniya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/bilishi3753?hideAppHeader=1</string>
		<key>id</key>
		<integer>3753</integer>
		<key>name</key>
		<string>比利时</string>
		<key>pinyin</key>
		<string>bilishi</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/danmai3763?hideAppHeader=1</string>
		<key>id</key>
		<integer>3763</integer>
		<key>name</key>
		<string>丹麦</string>
		<key>pinyin</key>
		<string>danmai</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/fandigang3790?hideAppHeader=1</string>
		<key>id</key>
		<integer>3790</integer>
		<key>name</key>
		<string>梵蒂冈</string>
		<key>pinyin</key>
		<string>fandigang</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/jieke3795?hideAppHeader=1</string>
		<key>id</key>
		<integer>3795</integer>
		<key>name</key>
		<string>捷克</string>
		<key>pinyin</key>
		<string>jieke</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/liezhidunshideng3796?hideAppHeader=1</string>
		<key>id</key>
		<integer>3796</integer>
		<key>name</key>
		<string>列支敦士登</string>
		<key>pinyin</key>
		<string>liezhidunshideng</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/monage3797?hideAppHeader=1</string>
		<key>id</key>
		<integer>3797</integer>
		<key>name</key>
		<string>摩纳哥</string>
		<key>pinyin</key>
		<string>monage</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/putaoya3798?hideAppHeader=1</string>
		<key>id</key>
		<integer>3798</integer>
		<key>name</key>
		<string>葡萄牙</string>
		<key>pinyin</key>
		<string>putaoya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/xiongyali3799?hideAppHeader=1</string>
		<key>id</key>
		<integer>3799</integer>
		<key>name</key>
		<string>匈牙利</string>
		<key>pinyin</key>
		<string>xiongyali</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/miandian3872?hideAppHeader=1</string>
		<key>id</key>
		<integer>3872</integer>
		<key>name</key>
		<string>缅甸</string>
		<key>pinyin</key>
		<string>miandian</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/tunisi3911?hideAppHeader=1</string>
		<key>id</key>
		<integer>3911</integer>
		<key>name</key>
		<string>突尼斯</string>
		<key>pinyin</key>
		<string>tunisi</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/namibiya3912?hideAppHeader=1</string>
		<key>id</key>
		<integer>3912</integer>
		<key>name</key>
		<string>纳米比亚</string>
		<key>pinyin</key>
		<string>namibiya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/aierlan3913?hideAppHeader=1</string>
		<key>id</key>
		<integer>3913</integer>
		<key>name</key>
		<string>爱尔兰</string>
		<key>pinyin</key>
		<string>aierlan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/yuedan3914?hideAppHeader=1</string>
		<key>id</key>
		<integer>3914</integer>
		<key>name</key>
		<string>约旦</string>
		<key>pinyin</key>
		<string>yuedan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/palao3983?hideAppHeader=1</string>
		<key>id</key>
		<integer>3983</integer>
		<key>name</key>
		<string>帕劳</string>
		<key>pinyin</key>
		<string>palao</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/afuhan203239?hideAppHeader=1</string>
		<key>id</key>
		<integer>203239</integer>
		<key>name</key>
		<string>阿富汗</string>
		<key>pinyin</key>
		<string>afuhan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/aman203241?hideAppHeader=1</string>
		<key>id</key>
		<integer>203241</integer>
		<key>name</key>
		<string>阿曼</string>
		<key>pinyin</key>
		<string>aman</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/asaibaijiang203242?hideAppHeader=1</string>
		<key>id</key>
		<integer>203242</integer>
		<key>name</key>
		<string>阿塞拜疆</string>
		<key>pinyin</key>
		<string>asaibaijiang</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/bajisitan203243?hideAppHeader=1</string>
		<key>id</key>
		<integer>203243</integer>
		<key>name</key>
		<string>巴基斯坦</string>
		<key>pinyin</key>
		<string>bajisitan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/balesitan203244?hideAppHeader=1</string>
		<key>id</key>
		<integer>203244</integer>
		<key>name</key>
		<string>巴勒斯坦</string>
		<key>pinyin</key>
		<string>balesitan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/balin203245?hideAppHeader=1</string>
		<key>id</key>
		<integer>203245</integer>
		<key>name</key>
		<string>巴林</string>
		<key>pinyin</key>
		<string>balin</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/budan203246?hideAppHeader=1</string>
		<key>id</key>
		<integer>203246</integer>
		<key>name</key>
		<string>不丹</string>
		<key>pinyin</key>
		<string>budan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/dongdiwen203248?hideAppHeader=1</string>
		<key>id</key>
		<integer>203248</integer>
		<key>name</key>
		<string>东帝汶</string>
		<key>pinyin</key>
		<string>dongdiwen</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/gelujiya203250?hideAppHeader=1</string>
		<key>id</key>
		<integer>203250</integer>
		<key>name</key>
		<string>格鲁吉亚</string>
		<key>pinyin</key>
		<string>gelujiya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/hasakesitan203251?hideAppHeader=1</string>
		<key>id</key>
		<integer>203251</integer>
		<key>name</key>
		<string>哈萨克斯坦</string>
		<key>pinyin</key>
		<string>hasakesitan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/jierjisisitan203253?hideAppHeader=1</string>
		<key>id</key>
		<integer>203253</integer>
		<key>name</key>
		<string>吉尔吉斯斯坦</string>
		<key>pinyin</key>
		<string>jierjisisitan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/kataer203255?hideAppHeader=1</string>
		<key>id</key>
		<integer>203255</integer>
		<key>name</key>
		<string>卡塔尔</string>
		<key>pinyin</key>
		<string>kataer</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/keweite203256?hideAppHeader=1</string>
		<key>id</key>
		<integer>203256</integer>
		<key>name</key>
		<string>科威特</string>
		<key>pinyin</key>
		<string>keweite</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/libanen203258?hideAppHeader=1</string>
		<key>id</key>
		<integer>203258</integer>
		<key>name</key>
		<string>黎巴嫩</string>
		<key>pinyin</key>
		<string>libanen</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/menggu203261?hideAppHeader=1</string>
		<key>id</key>
		<integer>203261</integer>
		<key>name</key>
		<string>蒙古</string>
		<key>pinyin</key>
		<string>menggu</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/mengjialaguo203262?hideAppHeader=1</string>
		<key>id</key>
		<integer>203262</integer>
		<key>name</key>
		<string>孟加拉国</string>
		<key>pinyin</key>
		<string>mengjialaguo</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/saipulusi203266?hideAppHeader=1</string>
		<key>id</key>
		<integer>203266</integer>
		<key>name</key>
		<string>塞浦路斯</string>
		<key>pinyin</key>
		<string>saipulusi</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/shatealabo203267?hideAppHeader=1</string>
		<key>id</key>
		<integer>203267</integer>
		<key>name</key>
		<string>沙特阿拉伯</string>
		<key>pinyin</key>
		<string>shatealabo</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/tajikesitan203269?hideAppHeader=1</string>
		<key>id</key>
		<integer>203269</integer>
		<key>name</key>
		<string>塔吉克斯坦</string>
		<key>pinyin</key>
		<string>tajikesitan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/tukumansitan203272?hideAppHeader=1</string>
		<key>id</key>
		<integer>203272</integer>
		<key>name</key>
		<string>土库曼斯坦</string>
		<key>pinyin</key>
		<string>tukumansitan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/wuzibiekesitan203274?hideAppHeader=1</string>
		<key>id</key>
		<integer>203274</integer>
		<key>name</key>
		<string>乌兹别克斯坦</string>
		<key>pinyin</key>
		<string>wuzibiekesitan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/xuliya203276?hideAppHeader=1</string>
		<key>id</key>
		<integer>203276</integer>
		<key>name</key>
		<string>叙利亚</string>
		<key>pinyin</key>
		<string>xuliya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/yameiniya203277?hideAppHeader=1</string>
		<key>id</key>
		<integer>203277</integer>
		<key>name</key>
		<string>亚美尼亚</string>
		<key>pinyin</key>
		<string>yameiniya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/yemen203278?hideAppHeader=1</string>
		<key>id</key>
		<integer>203278</integer>
		<key>name</key>
		<string>也门</string>
		<key>pinyin</key>
		<string>yemen</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/yilake203279?hideAppHeader=1</string>
		<key>id</key>
		<integer>203279</integer>
		<key>name</key>
		<string>伊拉克</string>
		<key>pinyin</key>
		<string>yilake</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/yilang203280?hideAppHeader=1</string>
		<key>id</key>
		<integer>203280</integer>
		<key>name</key>
		<string>伊朗</string>
		<key>pinyin</key>
		<string>yilang</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/aerbaniya203286?hideAppHeader=1</string>
		<key>id</key>
		<integer>203286</integer>
		<key>name</key>
		<string>阿尔巴尼亚</string>
		<key>pinyin</key>
		<string>aerbaniya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/andaoer203289?hideAppHeader=1</string>
		<key>id</key>
		<integer>203289</integer>
		<key>name</key>
		<string>安道尔</string>
		<key>pinyin</key>
		<string>andaoer</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/baieluosi203291?hideAppHeader=1</string>
		<key>id</key>
		<integer>203291</integer>
		<key>name</key>
		<string>白俄罗斯</string>
		<key>pinyin</key>
		<string>baieluosi</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/baojialiya203292?hideAppHeader=1</string>
		<key>id</key>
		<integer>203292</integer>
		<key>name</key>
		<string>保加利亚</string>
		<key>pinyin</key>
		<string>baojialiya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/bohei203295?hideAppHeader=1</string>
		<key>id</key>
		<integer>203295</integer>
		<key>name</key>
		<string>波黑</string>
		<key>pinyin</key>
		<string>bohei</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/bolan203296?hideAppHeader=1</string>
		<key>id</key>
		<integer>203296</integer>
		<key>name</key>
		<string>波兰</string>
		<key>pinyin</key>
		<string>bolan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/heishan203304?hideAppHeader=1</string>
		<key>id</key>
		<integer>203304</integer>
		<key>name</key>
		<string>黑山</string>
		<key>pinyin</key>
		<string>heishan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/keluodiya203306?hideAppHeader=1</string>
		<key>id</key>
		<integer>203306</integer>
		<key>name</key>
		<string>克罗地亚</string>
		<key>pinyin</key>
		<string>keluodiya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/latuoweiya203307?hideAppHeader=1</string>
		<key>id</key>
		<integer>203307</integer>
		<key>name</key>
		<string>拉脱维亚</string>
		<key>pinyin</key>
		<string>latuoweiya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/litaowan203308?hideAppHeader=1</string>
		<key>id</key>
		<integer>203308</integer>
		<key>name</key>
		<string>立陶宛</string>
		<key>pinyin</key>
		<string>litaowan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/lusenbao203310?hideAppHeader=1</string>
		<key>id</key>
		<integer>203310</integer>
		<key>name</key>
		<string>卢森堡</string>
		<key>pinyin</key>
		<string>lusenbao</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/luomaniya203311?hideAppHeader=1</string>
		<key>id</key>
		<integer>203311</integer>
		<key>name</key>
		<string>罗马尼亚</string>
		<key>pinyin</key>
		<string>luomaniya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/maerta203312?hideAppHeader=1</string>
		<key>id</key>
		<integer>203312</integer>
		<key>name</key>
		<string>马耳他</string>
		<key>pinyin</key>
		<string>maerta</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/maqidun203313?hideAppHeader=1</string>
		<key>id</key>
		<integer>203313</integer>
		<key>name</key>
		<string>马其顿</string>
		<key>pinyin</key>
		<string>maqidun</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/moerduowa203314?hideAppHeader=1</string>
		<key>id</key>
		<integer>203314</integer>
		<key>name</key>
		<string>摩尔多瓦</string>
		<key>pinyin</key>
		<string>moerduowa</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/saierweiya203320?hideAppHeader=1</string>
		<key>id</key>
		<integer>203320</integer>
		<key>name</key>
		<string>塞尔维亚</string>
		<key>pinyin</key>
		<string>saierweiya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/shengmalinuo203321?hideAppHeader=1</string>
		<key>id</key>
		<integer>203321</integer>
		<key>name</key>
		<string>圣马力诺</string>
		<key>pinyin</key>
		<string>shengmalinuo</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/siluofake203322?hideAppHeader=1</string>
		<key>id</key>
		<integer>203322</integer>
		<key>name</key>
		<string>斯洛伐克</string>
		<key>pinyin</key>
		<string>siluofake</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/siluowenniya203323?hideAppHeader=1</string>
		<key>id</key>
		<integer>203323</integer>
		<key>name</key>
		<string>斯洛文尼亚</string>
		<key>pinyin</key>
		<string>siluowenniya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/wukelan203324?hideAppHeader=1</string>
		<key>id</key>
		<integer>203324</integer>
		<key>name</key>
		<string>乌克兰</string>
		<key>pinyin</key>
		<string>wukelan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/balagui203331?hideAppHeader=1</string>
		<key>id</key>
		<integer>203331</integer>
		<key>name</key>
		<string>巴拉圭</string>
		<key>pinyin</key>
		<string>balagui</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/boliweiya203333?hideAppHeader=1</string>
		<key>id</key>
		<integer>203333</integer>
		<key>name</key>
		<string>玻利维亚</string>
		<key>pinyin</key>
		<string>boliweiya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/eguaduoer203334?hideAppHeader=1</string>
		<key>id</key>
		<integer>203334</integer>
		<key>name</key>
		<string>厄瓜多尔</string>
		<key>pinyin</key>
		<string>eguaduoer</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/gelunbiya203335?hideAppHeader=1</string>
		<key>id</key>
		<integer>203335</integer>
		<key>name</key>
		<string>哥伦比亚</string>
		<key>pinyin</key>
		<string>gelunbiya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/guiyana203336?hideAppHeader=1</string>
		<key>id</key>
		<integer>203336</integer>
		<key>name</key>
		<string>圭亚那</string>
		<key>pinyin</key>
		<string>guiyana</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/sulinan203338?hideAppHeader=1</string>
		<key>id</key>
		<integer>203338</integer>
		<key>name</key>
		<string>苏里南</string>
		<key>pinyin</key>
		<string>sulinan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/weineiruila203339?hideAppHeader=1</string>
		<key>id</key>
		<integer>203339</integer>
		<key>name</key>
		<string>委内瑞拉</string>
		<key>pinyin</key>
		<string>weineiruila</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/wulagui203340?hideAppHeader=1</string>
		<key>id</key>
		<integer>203340</integer>
		<key>name</key>
		<string>乌拉圭</string>
		<key>pinyin</key>
		<string>wulagui</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/aerjiliya203342?hideAppHeader=1</string>
		<key>id</key>
		<integer>203342</integer>
		<key>name</key>
		<string>阿尔及利亚</string>
		<key>pinyin</key>
		<string>aerjiliya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/aisaiebiya203344?hideAppHeader=1</string>
		<key>id</key>
		<integer>203344</integer>
		<key>name</key>
		<string>埃塞俄比亚</string>
		<key>pinyin</key>
		<string>aisaiebiya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/angela203345?hideAppHeader=1</string>
		<key>id</key>
		<integer>203345</integer>
		<key>name</key>
		<string>安哥拉</string>
		<key>pinyin</key>
		<string>angela</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/beining203346?hideAppHeader=1</string>
		<key>id</key>
		<integer>203346</integer>
		<key>name</key>
		<string>贝宁</string>
		<key>pinyin</key>
		<string>beining</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/bociwana203347?hideAppHeader=1</string>
		<key>id</key>
		<integer>203347</integer>
		<key>name</key>
		<string>博茨瓦纳</string>
		<key>pinyin</key>
		<string>bociwana</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/bujinafasuo203348?hideAppHeader=1</string>
		<key>id</key>
		<integer>203348</integer>
		<key>name</key>
		<string>布基纳法索</string>
		<key>pinyin</key>
		<string>bujinafasuo</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/bulongdi203349?hideAppHeader=1</string>
		<key>id</key>
		<integer>203349</integer>
		<key>name</key>
		<string>布隆迪</string>
		<key>pinyin</key>
		<string>bulongdi</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/chidaojineiya203350?hideAppHeader=1</string>
		<key>id</key>
		<integer>203350</integer>
		<key>name</key>
		<string>赤道几内亚</string>
		<key>pinyin</key>
		<string>chidaojineiya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/duoge203351?hideAppHeader=1</string>
		<key>id</key>
		<integer>203351</integer>
		<key>name</key>
		<string>多哥</string>
		<key>pinyin</key>
		<string>duoge</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/eliteliya203352?hideAppHeader=1</string>
		<key>id</key>
		<integer>203352</integer>
		<key>name</key>
		<string>厄立特里亚</string>
		<key>pinyin</key>
		<string>eliteliya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/fodejiao203353?hideAppHeader=1</string>
		<key>id</key>
		<integer>203353</integer>
		<key>name</key>
		<string>佛得角</string>
		<key>pinyin</key>
		<string>fodejiao</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/gangbiya203354?hideAppHeader=1</string>
		<key>id</key>
		<integer>203354</integer>
		<key>name</key>
		<string>冈比亚</string>
		<key>pinyin</key>
		<string>gangbiya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/gangguogongheguo203355?hideAppHeader=1</string>
		<key>id</key>
		<integer>203355</integer>
		<key>name</key>
		<string>刚果共和国</string>
		<key>pinyin</key>
		<string>gangguogongheguo</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/gangguominzhugongheguo203356?hideAppHeader=1</string>
		<key>id</key>
		<integer>203356</integer>
		<key>name</key>
		<string>刚果民主共和国</string>
		<key>pinyin</key>
		<string>gangguominzhugongheguo</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/jibuti203357?hideAppHeader=1</string>
		<key>id</key>
		<integer>203357</integer>
		<key>name</key>
		<string>吉布提</string>
		<key>pinyin</key>
		<string>jibuti</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/jineiya203358?hideAppHeader=1</string>
		<key>id</key>
		<integer>203358</integer>
		<key>name</key>
		<string>几内亚</string>
		<key>pinyin</key>
		<string>jineiya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/jineiyabishao203359?hideAppHeader=1</string>
		<key>id</key>
		<integer>203359</integer>
		<key>name</key>
		<string>几内亚比绍</string>
		<key>pinyin</key>
		<string>jineiyabishao</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/jiana203360?hideAppHeader=1</string>
		<key>id</key>
		<integer>203360</integer>
		<key>name</key>
		<string>加纳</string>
		<key>pinyin</key>
		<string>jiana</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/jiapeng203361?hideAppHeader=1</string>
		<key>id</key>
		<integer>203361</integer>
		<key>name</key>
		<string>加蓬</string>
		<key>pinyin</key>
		<string>jiapeng</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/jinbabuwei203362?hideAppHeader=1</string>
		<key>id</key>
		<integer>203362</integer>
		<key>name</key>
		<string>津巴布韦</string>
		<key>pinyin</key>
		<string>jinbabuwei</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/kamailong203363?hideAppHeader=1</string>
		<key>id</key>
		<integer>203363</integer>
		<key>name</key>
		<string>喀麦隆</string>
		<key>pinyin</key>
		<string>kamailong</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/kemoluo203364?hideAppHeader=1</string>
		<key>id</key>
		<integer>203364</integer>
		<key>name</key>
		<string>科摩罗</string>
		<key>pinyin</key>
		<string>kemoluo</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/ketediwa203365?hideAppHeader=1</string>
		<key>id</key>
		<integer>203365</integer>
		<key>name</key>
		<string>科特迪瓦</string>
		<key>pinyin</key>
		<string>ketediwa</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/laisuotuo203367?hideAppHeader=1</string>
		<key>id</key>
		<integer>203367</integer>
		<key>name</key>
		<string>莱索托</string>
		<key>pinyin</key>
		<string>laisuotuo</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/libiliya203368?hideAppHeader=1</string>
		<key>id</key>
		<integer>203368</integer>
		<key>name</key>
		<string>利比里亚</string>
		<key>pinyin</key>
		<string>libiliya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/State of Libya203369?hideAppHeader=1</string>
		<key>id</key>
		<integer>203369</integer>
		<key>name</key>
		<string>利比亚</string>
		<key>pinyin</key>
		<string>State of Libya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/luwangda203370?hideAppHeader=1</string>
		<key>id</key>
		<integer>203370</integer>
		<key>name</key>
		<string>卢旺达</string>
		<key>pinyin</key>
		<string>luwangda</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/malawei203372?hideAppHeader=1</string>
		<key>id</key>
		<integer>203372</integer>
		<key>name</key>
		<string>马拉维</string>
		<key>pinyin</key>
		<string>malawei</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/mali203373?hideAppHeader=1</string>
		<key>id</key>
		<integer>203373</integer>
		<key>name</key>
		<string>马里</string>
		<key>pinyin</key>
		<string>mali</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/maolitaniya203375?hideAppHeader=1</string>
		<key>id</key>
		<integer>203375</integer>
		<key>name</key>
		<string>毛里塔尼亚</string>
		<key>pinyin</key>
		<string>maolitaniya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/mosangbike203377?hideAppHeader=1</string>
		<key>id</key>
		<integer>203377</integer>
		<key>name</key>
		<string>莫桑比克</string>
		<key>pinyin</key>
		<string>mosangbike</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/nansudan203380?hideAppHeader=1</string>
		<key>id</key>
		<integer>203380</integer>
		<key>name</key>
		<string>南苏丹</string>
		<key>pinyin</key>
		<string>nansudan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/nirier203381?hideAppHeader=1</string>
		<key>id</key>
		<integer>203381</integer>
		<key>name</key>
		<string>尼日尔</string>
		<key>pinyin</key>
		<string>nirier</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/niriliya203382?hideAppHeader=1</string>
		<key>id</key>
		<integer>203382</integer>
		<key>name</key>
		<string>尼日利亚</string>
		<key>pinyin</key>
		<string>niriliya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/sailaliang203383?hideAppHeader=1</string>
		<key>id</key>
		<integer>203383</integer>
		<key>name</key>
		<string>塞拉利昂</string>
		<key>pinyin</key>
		<string>sailaliang</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/saineijiaer203384?hideAppHeader=1</string>
		<key>id</key>
		<integer>203384</integer>
		<key>name</key>
		<string>塞内加尔</string>
		<key>pinyin</key>
		<string>saineijiaer</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/shengduomeihepulinxibi203386?hideAppHeader=1</string>
		<key>id</key>
		<integer>203386</integer>
		<key>name</key>
		<string>圣多美和普林西比</string>
		<key>pinyin</key>
		<string>shengduomeihepulinxibi</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/siweishilan203387?hideAppHeader=1</string>
		<key>id</key>
		<integer>203387</integer>
		<key>name</key>
		<string>斯威士兰</string>
		<key>pinyin</key>
		<string>siweishilan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/sudan203388?hideAppHeader=1</string>
		<key>id</key>
		<integer>203388</integer>
		<key>name</key>
		<string>苏丹</string>
		<key>pinyin</key>
		<string>sudan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/suomali203389?hideAppHeader=1</string>
		<key>id</key>
		<integer>203389</integer>
		<key>name</key>
		<string>索马里</string>
		<key>pinyin</key>
		<string>suomali</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/tansangniya203390?hideAppHeader=1</string>
		<key>id</key>
		<integer>203390</integer>
		<key>name</key>
		<string>坦桑尼亚</string>
		<key>pinyin</key>
		<string>tansangniya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/wuganda203392?hideAppHeader=1</string>
		<key>id</key>
		<integer>203392</integer>
		<key>name</key>
		<string>乌干达</string>
		<key>pinyin</key>
		<string>wuganda</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/zanbiya203393?hideAppHeader=1</string>
		<key>id</key>
		<integer>203393</integer>
		<key>name</key>
		<string>赞比亚</string>
		<key>pinyin</key>
		<string>zanbiya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/zhade203394?hideAppHeader=1</string>
		<key>id</key>
		<integer>203394</integer>
		<key>name</key>
		<string>乍得</string>
		<key>pinyin</key>
		<string>zhade</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/zhongfeigongheguo203395?hideAppHeader=1</string>
		<key>id</key>
		<integer>203395</integer>
		<key>name</key>
		<string>中非共和国</string>
		<key>pinyin</key>
		<string>zhongfeigongheguo</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/babuyaxinjineiya203397?hideAppHeader=1</string>
		<key>id</key>
		<integer>203397</integer>
		<key>name</key>
		<string>巴布亚新几内亚</string>
		<key>pinyin</key>
		<string>babuyaxinjineiya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/jilibasi203399?hideAppHeader=1</string>
		<key>id</key>
		<integer>203399</integer>
		<key>name</key>
		<string>基里巴斯</string>
		<key>pinyin</key>
		<string>jilibasi</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/kukequndao203400?hideAppHeader=1</string>
		<key>id</key>
		<integer>203400</integer>
		<key>name</key>
		<string>库克群岛</string>
		<key>pinyin</key>
		<string>kukequndao</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/mashaoerqundao203401?hideAppHeader=1</string>
		<key>id</key>
		<integer>203401</integer>
		<key>name</key>
		<string>马绍尔群岛</string>
		<key>pinyin</key>
		<string>mashaoerqundao</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/mikeluonixiya203402?hideAppHeader=1</string>
		<key>id</key>
		<integer>203402</integer>
		<key>name</key>
		<string>密克罗尼西亚</string>
		<key>pinyin</key>
		<string>mikeluonixiya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/naolu203403?hideAppHeader=1</string>
		<key>id</key>
		<integer>203403</integer>
		<key>name</key>
		<string>瑙鲁</string>
		<key>pinyin</key>
		<string>naolu</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/niuai203404?hideAppHeader=1</string>
		<key>id</key>
		<integer>203404</integer>
		<key>name</key>
		<string>纽埃</string>
		<key>pinyin</key>
		<string>niuai</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/samoya203406?hideAppHeader=1</string>
		<key>id</key>
		<integer>203406</integer>
		<key>name</key>
		<string>萨摩亚</string>
		<key>pinyin</key>
		<string>samoya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/suoluomenqundao203407?hideAppHeader=1</string>
		<key>id</key>
		<integer>203407</integer>
		<key>name</key>
		<string>所罗门群岛</string>
		<key>pinyin</key>
		<string>suoluomenqundao</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/tangjia203408?hideAppHeader=1</string>
		<key>id</key>
		<integer>203408</integer>
		<key>name</key>
		<string>汤加</string>
		<key>pinyin</key>
		<string>tangjia</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/tuwalu203409?hideAppHeader=1</string>
		<key>id</key>
		<integer>203409</integer>
		<key>name</key>
		<string>图瓦卢</string>
		<key>pinyin</key>
		<string>tuwalu</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/wanuatu203410?hideAppHeader=1</string>
		<key>id</key>
		<integer>203410</integer>
		<key>name</key>
		<string>瓦努阿图</string>
		<key>pinyin</key>
		<string>wanuatu</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/antiguahebabuda203412?hideAppHeader=1</string>
		<key>id</key>
		<integer>203412</integer>
		<key>name</key>
		<string>安提瓜和巴布达</string>
		<key>pinyin</key>
		<string>antiguahebabuda</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/babaduosi203413?hideAppHeader=1</string>
		<key>id</key>
		<integer>203413</integer>
		<key>name</key>
		<string>巴巴多斯</string>
		<key>pinyin</key>
		<string>babaduosi</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/bahama203414?hideAppHeader=1</string>
		<key>id</key>
		<integer>203414</integer>
		<key>name</key>
		<string>巴哈马</string>
		<key>pinyin</key>
		<string>bahama</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/banama203415?hideAppHeader=1</string>
		<key>id</key>
		<integer>203415</integer>
		<key>name</key>
		<string>巴拿马</string>
		<key>pinyin</key>
		<string>banama</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/boduolige203416?hideAppHeader=1</string>
		<key>id</key>
		<integer>203416</integer>
		<key>name</key>
		<string>波多黎各</string>
		<key>pinyin</key>
		<string>boduolige</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/bolizi203417?hideAppHeader=1</string>
		<key>id</key>
		<integer>203417</integer>
		<key>name</key>
		<string>伯利兹</string>
		<key>pinyin</key>
		<string>bolizi</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/duominijia203418?hideAppHeader=1</string>
		<key>id</key>
		<integer>203418</integer>
		<key>name</key>
		<string>多米尼加</string>
		<key>pinyin</key>
		<string>duominijia</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/duominike203419?hideAppHeader=1</string>
		<key>id</key>
		<integer>203419</integer>
		<key>name</key>
		<string>多米尼克</string>
		<key>pinyin</key>
		<string>duominike</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/gesidalijia203420?hideAppHeader=1</string>
		<key>id</key>
		<integer>203420</integer>
		<key>name</key>
		<string>哥斯达黎加</string>
		<key>pinyin</key>
		<string>gesidalijia</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/gelinnada203421?hideAppHeader=1</string>
		<key>id</key>
		<integer>203421</integer>
		<key>name</key>
		<string>格林纳达</string>
		<key>pinyin</key>
		<string>gelinnada</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/haidi203423?hideAppHeader=1</string>
		<key>id</key>
		<integer>203423</integer>
		<key>name</key>
		<string>海地</string>
		<key>pinyin</key>
		<string>haidi</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/hongdulasi203425?hideAppHeader=1</string>
		<key>id</key>
		<integer>203425</integer>
		<key>name</key>
		<string>洪都拉斯</string>
		<key>pinyin</key>
		<string>hongdulasi</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/nijialagua203429?hideAppHeader=1</string>
		<key>id</key>
		<integer>203429</integer>
		<key>name</key>
		<string>尼加拉瓜</string>
		<key>pinyin</key>
		<string>nijialagua</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/saerwaduo203430?hideAppHeader=1</string>
		<key>id</key>
		<integer>203430</integer>
		<key>name</key>
		<string>萨尔瓦多</string>
		<key>pinyin</key>
		<string>saerwaduo</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/shengjiciheniweisi203431?hideAppHeader=1</string>
		<key>id</key>
		<integer>203431</integer>
		<key>name</key>
		<string>圣基茨和尼维斯</string>
		<key>pinyin</key>
		<string>shengjiciheniweisi</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/shengluxiya203432?hideAppHeader=1</string>
		<key>id</key>
		<integer>203432</integer>
		<key>name</key>
		<string>圣卢西亚</string>
		<key>pinyin</key>
		<string>shengluxiya</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/shengwensentehegelinnadingsi203433?hideAppHeader=1</string>
		<key>id</key>
		<integer>203433</integer>
		<key>name</key>
		<string>圣文森特和格林纳丁斯</string>
		<key>pinyin</key>
		<string>shengwensentehegelinnadingsi</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/telinidaheduobage203434?hideAppHeader=1</string>
		<key>id</key>
		<integer>203434</integer>
		<key>name</key>
		<string>特立尼达和多巴哥</string>
		<key>pinyin</key>
		<string>telinidaheduobage</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/weidimala203435?hideAppHeader=1</string>
		<key>id</key>
		<integer>203435</integer>
		<key>name</key>
		<string>危地马拉</string>
		<key>pinyin</key>
		<string>weidimala</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/yamaijia203436?hideAppHeader=1</string>
		<key>id</key>
		<integer>203436</integer>
		<key>name</key>
		<string>牙买加</string>
		<key>pinyin</key>
		<string>yamaijia</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/nanjiquan250319?hideAppHeader=1</string>
		<key>id</key>
		<integer>250319</integer>
		<key>name</key>
		<string>南极圈</string>
		<key>pinyin</key>
		<string>nanjiquan</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/bitemendao250320?hideAppHeader=1</string>
		<key>id</key>
		<integer>250320</integer>
		<key>name</key>
		<string>彼特门岛</string>
		<key>pinyin</key>
		<string>bitemendao</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/limaershuidao250321?hideAppHeader=1</string>
		<key>id</key>
		<integer>250321</integer>
		<key>name</key>
		<string>利马尔水道</string>
		<key>pinyin</key>
		<string>limaershuidao</string>
	</dict>
	<dict>
		<key>destUrl</key>
		<string>http://m.lvmama.com/dest/nigaogang250322?hideAppHeader=1</string>
		<key>id</key>
		<integer>250322</integer>
		<key>name</key>
		<string>尼高港</string>
		<key>pinyin</key>
		<string>nigaogang</string>
	</dict>
</array>
</plist>
